body{
	background: #EDEDED;
}
#sidebar{
	background: #EF7391;
}

#slidebar-icon{
color: #fff;
background: #2F2E2C;
}

#sidebar #menu ul li{
	font-family: 'Exo 2', sans-serif;
	height: 40px;
	margin-top: 5px;
	transition:background 1s;
}

#sidebar #menu ul li a{
	color: #fff;
}
.active,#sidebar #menu ul li:hover{
	background: #A75065;
	border-left: 4px solid #fff;
	font-weight: bolder;
	font-size: 18px
}

li i{
color: #fff;
border: 2px solid #fff;
}

#copyright{
	color: #000;
}